<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>
  <meta name="description" content="Swipe left for photoshopped space images">
</head>

<body>
<noscript style="color: crimson">This "<em>web app</em>" requires JavaScript.</noscript>
<h1>nani</h1>
<img src="https://cdn.lysoso.me/img/motivation.jpg" id="m">

</body>
</html>
